#timetable-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timetable-box{
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 200px;

    margin: 10px;
    padding: 10px;

    background-color: blue;
    border-radius: 1rem;

    cursor: pointer;
}