<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Class Notes - Select Timetable</title>

        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/selectTimetable.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    </head>

    <body>
        <div id="timetable-grid">
            <button class="timetable-box">1</button>
            <button class="timetable-box">1</button>
            <button class="timetable-box">1</button>
            <button class="timetable-box">1</button>
            <button class="timetable-box">1</button>
            <button class="timetable-box">1</button>
            <button class="timetable-box">1</button>
            <button class="timetable-box">1</button>
        </div>
    </body>

</html>